.frameChild {
  height: 55px;
  width: 252px;
  position: relative;
  background-color: var(--color-steelblue-200);
  display: none;
}
.nominate {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-22xl) var(--padding-5xs);
  background-color: var(--color-steelblue-200);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 151px;
}
.rectangleParent:hover {
  background-color: var(--color-steelblue-100);
}
@media screen and (max-width: 750px) {
  .nominate {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .nominate {
    font-size: var(--font-size-lg);
  }
}
